appdirs==1.4.4
colorama==0.4.6
docx==0.2.4
et_xmlfile==2.0.0
importlib_metadata==8.6.1
lxml==5.3.1
numpy==2.2.4
openpyxl==3.1.5
pandas==2.2.3
pdfgen==1.0.5
pillow==11.1.0
pyee==8.2.2
pyfiglet==1.0.2
PyPDF2==1.28.6
pyppeteer==0.2.6
python-dateutil==2.9.0.post0
python-docx==1.1.2
pytz==2025.2
pywin32==310
six==1.17.0
syncasync==20180812
tqdm==4.67.1
typing_extensions==4.13.0
tzdata==2025.2
urllib3==1.26.20
websockets==9.1
zipp==3.21.0
